################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/DocumentCenter/bin
/DocumentCenter/Files
/DocumentCenter/obj
/DocumentCenter/Properties
/DocumentCenter/DocumentCenter.csproj.user
/Document/.vs
